.left-contents
 .top
  .top__user-contents
   .top__name
    = current_user.name
   = link_to "/groups/new",  class: "top__newchat" do
    %i{class: "fa fa-pencil-square-o"}
   = link_to "/users/edit", class: "top__edit" do
    %i{class: "fa fa-cog"}

 .bottom
  - @groups.each do |group|
   .group
    =link_to "/groups/#{group.id}/messages", class: "left-contents__bottom" do
     .group__name
      = group.name
     .group__message
      = group.messages.try(:last).try(:body)
