.right-contents
 .top
  .top__chat.clearfix
   .top__group= @group.name
   = link_to'edit', edit_group_path(@group),class: "top__edit"
  .member MEMER:
  .member__list
   - @group.users.each do |users|
    = users.name

 .middle
  .middle__message.clearfix
   - @messages.each do |message|
    .message__nickname
     =message.user.name
    .message__date
     =message.created_at
    .message__comment
     = message.body
    .message__comment
     - unless message.image.blank?
      = image_tag message.image


 .bottom
  = form_for([@group, @message]) do |f|
   .footer
    = f.text_field :body, placeholder: "type a message", class: "message"
    = f.label :image, class: "file-image" do
     %i{class: "fa fa-image"}
     = f.file_field :image, class: "file"
    = f.submit :Send, class: "send"
